################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################



/Core.Api.3layer/Twitter/packages
/Core.Api.3layer/Twitter/Twitter.Data.Contracts/bin
/Core.Api.3layer/Twitter/Twitter.Data.Contracts/obj
/Core.Api.3layer/Twitter/Twitter.Api/bin
/Core.Api.3layer/Twitter/Twitter.Api/obj
/Core.Api.3layer/Twitter/Twitter.Data.Repositories/bin
/Core.Api.3layer/Twitter/Twitter.Data.Repositories/obj
/Core.Api.3layer/Twitter/Twitter.Domain.Contracts/bin
/Core.Api.3layer/Twitter/Twitter.Domain.Contracts/obj
/Core.Api.3layer/Twitter/Twitter.Domain.Services/bin
/Core.Api.3layer/Twitter/Twitter.Domain.Services/obj
/Mvc.Monolit/TrialTwitter/packages
/Mvc.Monolit/TrialTwitter/TrialTwitter.Web/bin
/Mvc.Monolit/TrialTwitter/TrialTwitter.Web/obj
/Mvc.Monolit/TrialTwitter/.vs
/Core.Api.3layer/Twitter/.vs
/Core.Api.Monolit/Twitter/Twitter.Api/bin
/Core.Api.Monolit/Twitter/Twitter.Api/obj
/Core.Api.Monolit/Twitter/.vs
/Core.Api.Monolit/Twitter/Twitter.Client/bin
/Core.Api.Monolit/Twitter/Twitter.Client/obj
/Core.Api.3layer/Twitter/Twitter.Client/bin
/Core.Api.3layer/Twitter/Twitter.Client/obj
/.vs
/Core.3layer/Switter/.vs
/Core.3layer/Switter/packages
/Core.3layer/Switter/Switter.Data.Contracts/bin
/Core.3layer/Switter/Switter.Data.Contracts/obj
/Core.3layer/Switter/Switter.Data.Repositories/bin
/Core.3layer/Switter/Switter.Data.Repositories/obj
/Core.3layer/Switter/Switter.Domain.Contracts/bin
/Core.3layer/Switter/Switter.Domain.Contracts/obj
/Core.3layer/Switter/Switter.Domain.Services/bin
/Core.3layer/Switter/Switter.Domain.Services/obj
/Core.3layer/Switter/Switter.Infrastructure/bin
/Core.3layer/Switter/Switter.Infrastructure/obj
/Core.3layer/Switter/Switter.Web/bin
/Core.3layer/Switter/Switter.Web/obj